



@font-face {
    font-family: 'ZiHunLongTengKaiShu';
    src: url('../webfonts/ZiHunLongTengKaiShu(ShangYongXuShouQuan)-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 楷体, serif
}

/* 隐藏滚动条但保留滚动功能 */
html {
    overflow: auto;
    scrollbar-width: auto; /* Firefox */
    -ms-overflow-style: auto; /* IE/Edge */
    scroll-behavior: smooth;
}

/* WebKit 浏览器（Chrome、Safari） */
html::-webkit-scrollbar {
    /*display: ;*/
}

.v-layout-basic,
.v-layout-75 {
    padding: 48px 0 0 0;
    max-width: 60rem;
    margin: auto
}
.v-layout-75 {
    max-width: 75rem !important;
}

.mbl {
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 1px solid #b4b0b0;
}

.img-circle {
    display:inline;
    border-radius: 50%;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    padding: 0;
    background-color: #e4e5e2;
    z-index: 500;
    /*box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);*/
}
.ifoot{
    padding : 1.25rem 1.25rem;
    /*border-top: 1px solid #ddd;*/
    min-height: 3.875rem;
}

/* list-categories */
.list-categories {
    padding: 0 1.5rem;
    font-family: 'ZiHunLongTengKaiShu', serif;

    .category-list-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: 300px;
        border-radius: 36px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
        padding: 3rem 2rem;
        margin: 1.5rem 0;
        font-size: 24px;
    }
    .category-list-item span {
        color: var(--grey-400);
        font-style: oblique;
    }
}