.table-wrapper {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 24px;
}

.table-wrapper th:first-child {
    max-width: 200px
}

.table-wrapper th,
.table-wrapper td {
    vertical-align: middle !important;
}

.table-wrapper td {
    min-width: 100px !important;
}