@keyframes skeleton-loading {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: -100%;
    }
}

.skeleton {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right, whitesmoke, #00586d24, whitesmoke);
    background-size: 200%;
    background-position-x: 0;
    animation: skeleton-loading 1.5s linear infinite;
}