.table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 24px;
}

.table-wrapper th,
.table-wrapper td {
    vertical-align: middle !important;
}

.table-wrapper td {
    min-width: 200px !important;
}